* {
	margin: 0;
	padding: 0;
}


html, body {
	width: 100%;
	height: 100%;
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}


#content_wrapper {
	display:flex;
	flex-direction:column;
}

#menu_wrapper, #menu_wrapper_blue {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.25rem;
  font-weight: bolder;
  padding-top: 1.25rem;
  background-color: #000000;
  z-index: 500;
}

#menu_wrapper {
  background-color: #000000;
}

#menu_wrapper_blue {
	border-bottom: solid 0.1em #191970;
	background-color: #f5f5f5;
}


#menu {
  margin-left: 12%;
}

.menu_wrapper_class {
	position: relative;
}

.topnav a, .topnav-blue a {
  float: left;
  display: inline-block;
  text-align: center;
  margin: 1em 1em 0 0;
	padding-bottom: 0.25em;
  text-decoration: none;
}

.topnav a {
	color: #f5f5f5;
}

.topnav-blue a {
  color: #191970;
}

/*Burger icon*/
.topnav .burgericon, .topnav-blue .burgericon-blue {
  display: none;
}

.burgericon .fa, .burgericon-blue .fa {
	font-size: 1.25em;
}

/*Burger icon*/
.burgericon-blue .fa {
  color: #191970;
}

.socialmedia_icons, .socialmedia_icons_blue {
  display: inline-block;
  float: right;
  margin-right: 12%;
}

.socialmedia_icons .fa, .socialmedia_icons_blue .fa {
  padding: 1em 0.1em 0 0.1em;
  width: 1.5em;
  text-align: center;
  text-decoration: none;
}

.socialmedia_icons .fa {
  color: #f5f5f5;
}

.socialmedia_icons_blue .fa {
  color: #191970;
}

.fa:hover {
  opacity: 0.7;
}


@media screen and (min-width: 900px) {
	.underline_menu::before {
	  transition: 300ms;
	  height: 0.25em;
	  content: '';
	  position: absolute;
	  background-color: #c9641d;}
	.underline_menu_blue::before {
		transition: 300ms;
		height: 0.25em;
		content: '';
		position: absolute;
		background-color: #d9d9d9;}
	.underline_menu::before, .underline_menu_blue::before {
	  height: 0%;
	  width: 3.25em;
	  bottom: 0;}
	.underline_menu:hover:not(.active)::before, .underline_menu_blue:hover:not(.active)::before {
	  height: 0.25em;}
	.topnav a.active {
		border-bottom: solid 0.25em #c9641d;}
	.topnav-blue a.active {
		border-bottom: solid 0.25em #191970;}
}


@media screen and (max-width: 900px) {
  .topnav a, .topnav-blue a {display: none; position: relative;}
  .topnav .burgericon, .topnav-blue .burgericon-blue {
    float: left;
    display: block;
		position: absolute;
		top: 1em;}
}


@media screen and (max-width: 900px) {
  .topnav a.responsive, .topnav-blue a.responsive {
		position: relative;}
  .topnav.responsive .burgericon, .topnav-blue.responsive .burgericon-blue {
    position: absolute;
    top: 1em;}
  .topnav.responsive a, .topnav-blue.responsive a {
    float: none;
    display: block;
    text-align: center;}
	.topnav.responsive a:hover, .topnav-blue.responsive a:hover {
		opacity: 0.7;}
	.socialmedia_icons.responsive, .socialmedia_icons_blue.responsive {
		display: none;}
}


@media screen and (max-width: 400px) {
	.socialmedia_icons_blue, .socialmedia_icons {display: none;}
}


/*main page*/
.imgbox {
  background-color: #000000;
}

.img-self {
  width: 100%;
  margin: auto;
  display: block;
  position: relative;
}

.name {
  position: absolute;
  top: 5.5em;
  right: 4.75em;
  text-shadow: 0 0 1em #f0f8ff;
  color: #f5f5f5;
  font-size: 4vw;
}

.title {
  position: absolute;
  top: 9.75em;
  right: 6.4em;
  color: #f5f5f5;
	font-family: serif;
  font-size: 3vw;
}


#About {
	width: 100%;
	box-sizing: border-box;
	color: #000000;
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, auto));
	padding: 2em 12% 0.25em 12%;
}

.stageshot {
  height: auto;
  width: 28em;
  margin-right: 1.25em;
}

.about_header {
  padding: 1em 0 0 0.5em;
	border: 0.2em #b3b3b3;
	border-style: none none solid none;
}

.bio_text span {
  display: block;
  padding: 1.5em 0.5em 0.5em 0.5em;
  line-height: 1.75em;
}


#Gallery {
  margin: 8em 12% 0 12%;
	line-height: 150%;
}

.videos_wrapper {
	margin: 2em 0 2em 0;
	list-style-type: none;
}

.video_washerwoman, .video_secrets, .video_pumpup {
  float:left;
	margin-right: 2vw;
	margin-bottom: 2em;
}

.video_washerwoman_desc_wrapper, .video_secrets_desc_wrapper, .video_pumpup_desc_wrapper{
	display: block;
  box-sizing: border-box;
}

.video_title {
	font-size: 1.25em;
}

.year_released {
	font-size: 1em;
	color: #737373;
	line-height: 200%;
}

.clear {
	clear: both;
}

@media only screen and (max-width: 78em) {
	.video_washerwoman_desc_wrapper, .video_secrets_desc_wrapper, .video_pumpup_desc_wrapper {
		float: left;
	}
}


#Lessons {
  margin: 8em 12% 0 12%;
	display: inline-block;
	overflow: hidden;
}

.class_desc span {
  display: block;
  padding: 1.875em 0 0 0;
  line-height: 1.75em;
}

.rates {
  margin: 2em 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, auto));
	justify-content: center;
}

.rates_studio_wrapper, .rates_home_wrapper {
  height: 20em;
  width: 28em;
  box-sizing: border-box;
  border:0.15em solid #b3b3b3;
  background-color: #e6e6e6;
  text-align: center;
  text-decoration: none;
	box-shadow: 0 0 0.5em #888888;
	color: #191970;
}

.rates_studio_loc, .rates_home_loc {
	padding: 1.5em 0;
	border-bottom: solid 0.15em #888888;
}

.rates_studio, .rates_home {
  list-style-type: none;
	font-size: 1.25em;
	padding-top: 2em;
}

.rates_studio li, .rates_home li {
  line-height: 2.25em;
}

.rates_studio_wrapper:hover, .rates_home_wrapper:hover {
  background-color: #f2f2f2;
}

#footer {
	margin-top:auto;
	width: 100%;
	box-sizing: border-box;
	background: #d3d3d3;
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	padding: 0 12% 0.25em 12%;
}

.followme {
	margin-top: 1em;
}

.footersocialmedia {
	padding: 1em 0 0.5em 0;
}

.footersocialmedia a {
	padding: 0.5em 0 0.5em 0;
	width: 2em;
	font-size: 1.25em;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

.footersocialmedia .fa-facebook {
  background: #3B5998;
  color: white;
}

.footersocialmedia .fa-twitter {
  background: #55ACEE;
  color: white;
}

.footersocialmedia .fa-youtube {
  background: #bb0000;
  color: white;
}

.footersocialmedia .fa-instagram {
  background: #125688;
  color: white;
}

.footersocialmedia .fa-linkedin {
  background: #007bb5;
  color: white;
}


#Contact {
	margin-top: 1em;
}

.phone_wrapper .fa,  .email_wrapper .fa {
	font-size: 1em;
	box-sizing: border-box;
	margin-right: 0.5em;
}

.fa-envelope, .fa-phone {
	color: #000000;
	float: left;
}

.fa-envelope, .email {
	padding-top: 0.75em;
}

.fa-phone, .phone {
	padding-top: 0.55em;
}

.copyright {
	align-self: end;
}
